{% extends "base_registered_subject_dashboard.html"%}
{% load common_tags %}{% load crypto_tags %}

{% block clinic_dashboard_marquee %}
    {% if infant_birth%}
    <table>
    <tr style="background:lightyellow;">
    <td><B>Name:</B> {{infant_birth.first_name|encrypted }} ({{ infant_birth.initials|encrypted }})</td>  
    <td><B>Gender:</B> {{infant_birth.gender|gender }} </td> 
    <td><B>Born:</B> {{infant_birth.dob|date:"Y-m-d" }}</td> 
    <td><B>Age:</B> {% if infant_birth.dob %}{{infant_birth.dob|age }}{% endif %} </td> 
    {% else %}
    <td><B>Name:</B> BABY-{{maternal_consent.first_name|encrypted}}</td> 
    {% endif %}
    </tr>
    <tr style=background:lightyellow;">
        <td><B>HIV status:</B> {{ infant_hiv_status }}</td>
    </tr>
</table>

{% endblock %}

{% block infants %}
    <tr name="top right"><td>
    <H3>Registered Infant</H3>
    {% if infants %}
        <ul>
          <li>
          {% for subject_identifier,infant in infants.items %}
          	{%  if not instruction == "V1" %}
	          <A href="{% url 'subject_dashboard_url' dashboard_type='infant' dashboard_model='registered_subject' dashboard_id=infant.dashboard_id show='appointments' instruction='V1'%}">
	             {{subject_identifier}} {{ infant.gender }} {{ infant.first_name|encrypted }} V1
	          </A>
	        {% elif not instruction == "V3" %}
          <br >
	          {% if maternal_consent.version == '3' %}
		           <A href="{% url 'subject_dashboard_url' dashboard_type='infant' dashboard_model='registered_subject' dashboard_id=infant.dashboard_id show='appointments' instruction='V3' %}">
		             {{subject_identifier}} {{ infant.gender }} {{ infant.first_name|encrypted }} V3
		          </A>
		      {% endif %}
		     {% endif %}
          {% endfor %}
        </ul>        
    {% else %}    
        no infants
    {% endif %}

    </td></tr>
{% endblock infants %}

{% if maternal_consent %}
    {% block maternal_consent %}
    <tr name="top right"><td>
    <H3>Mother</H3>
        <ul><A href="{% url 'subject_dashboard_url' dashboard_type='maternal' dashboard_model='maternal_eligibility' dashboard_id=maternal_eligibility.pk show='appointments' instruction='V1' %}">
        	{{ maternal_eligibility.registered_subject.subject_identifier }} [{{ maternal_consent.initials|encrypted }}] V1</A><br>
    {% if maternal_consent.version == '3' %}
		 <A href="{% url 'subject_dashboard_url' dashboard_type='maternal' dashboard_model='maternal_eligibility' dashboard_id=maternal_eligibility.pk show='appointments' instruction='V3' %}">
		    {{maternal_eligibility.registered_subject.subject_identifier}} [{{ maternal_consent.initials|encrypted }}]  V3
		 </A>
	{% endif %}
    </td></tr>
    {% endblock maternal_consent %}
{% endif %}
