{% extends "base_registered_subject_dashboard.html"%}
{% load common_tags %}
{% load crypto_tags%}
{% load admin_urls %}

{% block clinic_dashboard_marquee %}
<table>
    <tr style="background:lightyellow;">
        <td><B>Name:</B> {{maternal_consent.first_name|encrypted }} ({{ maternal_consent.initials|encrypted }}) </td>
        <td><B>Born:</B> {{maternal_consent.dob|date:"Y-m-d" }}</td> 
        <td><B>Age:</B> {{maternal_consent.dob|age }}</td>
        <td><B>Consented:</B> {{maternal_consent.consent_datetime|date:"Y-m-d H:i" }}</td>
        <td><B>Maternal Contact:</B>
          <A href="{% url 'admin:td_maternal_maternalcontact_add' %}?registered_subject={{ registered_subject.pk }}">
              {{ registered_subject.subject_identifier }}
          </A></td>
    </tr>
</table>
<table>
	<tr style=background:lightyellow;>
		<td><B>Antenatal enrollment status: </B>{% if antenatal_enrollment.pending_ultrasound %} pending ultrasound {% elif antenatal_enrollment.is_eligible %} passed {% elif antenatal_enrollment.is_eligible == False %} failed {%else%}<i>not filled</i>{% endif %}</td>
        <td><B>Enrollment HIV status:</B> <i>{{enrollment_hiv_status}}</i></td>
        <td><B>Current HIV status:</B> <i>{{current_hiv_status}}</i></td>
        <td><B>{% if currently_pregnant == True %} Pregnant, GA:</B><i>{{gestational_age}} weeks</i>{% else %}<B>Delivery GA:</B> <i>{{gestational_age}} weeks</i>{% endif %}</td>
        <td><B>{% if currently_pregnant == True %} Planned delivery site:</B><i>{{planned_delivery_site}}</i>{% else %}<B>Delivery Clinic:</B> <i>{{delivery_site}}</i>{% endif %}</td>
        <td><B>Randomized:</B><i>{{randomized}}</i></td>
    </tr>
</table>
{% endblock %}

{% block infants %}
    <tr name="top right"><td>
    <H3>Registered Infant</H3>
    {% if infants %}
        <ol>
          <li>
          {% for subject_identifier,infant in infants.items %}
          <A href="{% url 'subject_dashboard_url' dashboard_type='infant' dashboard_model='registered_subject' dashboard_id=infant.dashboard_id show='appointments' %}?instruction=V1">
             {{subject_identifier}} {{ infant.gender }} {{ infant.first_name|encrypted }} V1
          </A>
          <br >
          {% if maternal_consent.version == '3' %}
	           <A href="{% url 'subject_dashboard_url' dashboard_type='infant' dashboard_model='registered_subject' dashboard_id=infant.dashboard_id show='appointments' %}?instruction=V3">
	             {{subject_identifier}} {{ infant.gender }} {{ infant.first_name|encrypted }} V3
	          </A>
	      {% endif %}
          {% endfor %}
        </ol>        
    {% else %}    
        no infants
    {% endif %}

    </td></tr>
{% endblock infants %}
{% if consent %}
    {% block maternal_consent %}
    <tr name="top right"><td>
    <H3>Switch Mother's Schedules</H3>
        {% for consent in maternal_eligibility.previous_consents %}
      		<a href="{% url 'subject_dashboard_url' dashboard_type='maternal' dashboard_model='maternal_eligibility' dashboard_id=maternal_eligibility.pk show='appointments' %}?instruction=V{{instruction}}"><div nowrap>{{ consent.subject_identifier }} (V{{instruction}})</div></a>
      	{% endfor %}
    </td></tr>
    {% endblock maternal_consent %}
{% endif %}
