
<div class="panel-group">
	<div class="panel panel-warning">
		<div class="panel-heading clearfix">Requisitions <span class="pull-right">
			<button type="button" id="btn-print-label" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-print"></span> Print all</button>
			<button type="button" id="btn-print-label" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-print"></span> Print selected</button>
			</span>
		</div>
     	<div class="panel-body">
			<table class="table table-bordered table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Requisition</th>
						<th>Status</th>
						<th>User</th>
						<th>Created/Modified</th>                        
					</tr>
				</thead>
				<tbody>
				{% for reqs in requisitions %}
			    	<tr>
			    		<td><label><input type="checkbox" name="requisition-checkbox" value="{{requisition.subject_requisition.pk}}"></label></td>
			    		<td>
			    		  	{% if reqs.entry_status == 'REQUIRED' %}
						        	<span title="{{reqs.panel_name}}" class="glyphicon glyphicon-asterisk small" style="color:red"></span> {{reqs.panel_name}}
						     {% elif reqs.entry_status == 'KEYED' %}
						        	<span title="{{reqs.panel_name}}" class="glyphicon glyphicon-ok small" style="color:green"></span> {{reqs.panel_name}}
						     {% else %}
						     	<del>{{reqs.panel_name}}</del>
						     {% endif %}
			    		
			    		</td>
			    		<td>
			    		{% if reqs.entry_status == 'NOT_REQUIRED' %}
						     <del>{{reqs.panel_name|title}}</del>
						{% else %}
			    			{% if reqs.maternal_requisition %}
			    				<a href="{{ reqs.url }}?visit_code={{ reqs.visit_code }}&appointment_pk={{reqs.appointment.str_pk}}&subject_identifier={{subject_identifier}}&panel_name={{reqs.panel_name}}&next={{ dashboard_url }}">{{ reqs.maternal_requisition.requisition_identifier }}</a>
			    			{% else %}
			    				<a href="{{ reqs.url }}?visit_code={{ reqs.visit_code }}&appointment_pk={{reqs.appointment.str_pk}}&subject_identifier={{subject_identifier}}&panel_name={{reqs.panel_name}}&next={{ dashboard_url }}">Add</a>
			    			{% endif %}
			    		{% endif %}
			    		</td>
			    		<td>{{ reqs.get_entry_status_display}}</td>
			    		<td>{{ reqs.subject_requisition.user_created}}</td>
			    		<td>{{ reqs.subject_requisition.created|date:"Y-m-d" }}</td>
			    	</tr>
			    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
