{% extends "td_dashboard/dashboard.html" %}

{% load staticfiles %}

{% block demographics %}
    {% include "td_dashboard/demographics.html" %}
{% endblock demographics %}

{% block enrollments %}
    {% include "td_dashboard/enrollments.html" %}
{% endblock enrollments %}

{% block appointments %}
  	 {% include "td_dashboard/appointments.html" %} 
{% endblock appointments %}

{% block crfs %}
	{% if crfs %}
  		{% include "td_dashboard/maternal/crfs.html" %}
  	{% endif %}    
{% endblock crfs %}

{% block requisitions %}
  {% if requisitions %}
  	{% include "td_dashboard/maternal/requisitions.html" %}
  {% endif %}    
{% endblock requisitions %}

{% block locator_information %}
	{% include "td_dashboard/maternal/locator.html" %}
{% endblock locator_information %}
