{% extends 'edc_base/base.html' %}

  {% load staticfiles %}
  {% load crispy_forms_tags %}

  {% block extra-scripts %}
	
  {% endblock extra-scripts %}

  {% block main %}

   <div class="container">
   	  <div class="row">
      <div class="col-md-9">
        <div class="panel-group">
        	<div class="panel panel-default">
        	<div class="panel-heading">Maternal</div>
        	<div class="panel-body">
        		{% crispy form %}
        		<a href="{% url 'admin:td_maternal_maternaleligibility_add' %}" class="btn btn-sm btn-default" role="button">Add Maternal Eligibility</a>
        	</div>
        	</div>
        </div>
        {% if maternal_eligibilities %}
      		{% include "td_dashboard/maternaleligibility.html" %}
      	{% endif %}
      </div>
      <div class="col-md-3">
          <div class="panel-group">
            <div class="panel panel-warning">
              <div class="panel-heading">Administration</div>
                  <div class="panel-body">
                      <ul id="nav-pill-home" class="nav nav-pills nav-stacked">
                         <li><a href="#">Admin<span class="glyphicon glyphicon-wrench pull-right" aria-hidden="true"></span></a></li>
                         <li><a href="{% url 'edc-label:home_url' %}">Label Printers and Templates</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
     </div>
{% endblock main %}
