<hr>
<h5>Scheduled Labs  for Visit {{visit_code}}</h5>
<i> Hint: To edit the labs below, change the selected appointment's status to 'In Progress'</i>
<table class="table table-bordered table-striped table-condensed">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Requisition</th>
			<th>Status</th>
			<th>Due</th>
			<th>User</th>
			<th>Created/Modified</th>                        
			<th>Comment</th>
			<th>Browse</th>             
		</tr>
	</thead>
	<tbody>
	{% for reqs in requistions_metadata %}
    	<tr>
    		<td>{% if reqs.entry_status == 'REQUIRED' %}<span style="background:red; margin-right:20px">&nbsp;</span>{% endif %} {{forloop.counter}}</td>
    		<td>
    			{% if reqs.entry_status == 'NOT_REQUIRED' %}
			        	<span>{{reqs.reqs_model_add_or_update.0}}</span>
			    {% else %}
			        	<a href="{{reqs.reqs_model_add_or_update.1}}?next=subject_dashboard_url&appointment_pk={{reqs.appointment.str_pk}}&subject_identifier={{subject_identifier}}&visit_code={{visit_code}}&panel_name={{reqs.panel_name}}&show=forms">{{reqs.panel_name}}</a>
			   	{% endif %}
    		</td>
    		<td>
    		{% if reqs.subject_requisition %}
    			{{ reqs.subject_requisition.requisition_identifier }}
    		{% else %}
    			---
    		{% endif %}
    		</td>
    		<td>{{reqs.entry_status}}</td>
    		<td>{{reqs.due_datetime|date:"Y-m-d  D"|capfirst}}</td>
    		<td>{{reqs.user_created}}</td>
    		<td>{{reqs.created|date:"Y-m-d  D"|capfirst}}</td>
    		<td>{{reqs.entry_comment}}</td>
    		<td>{{reqs.entry_comment}}</td>                        
    	</tr>
    {% endfor %}
	</tbody>
</table>